@font-face {
	font-family: "HunimalSans";
	src: url('./../font/HunimalSansv1.5.ttf');
}

#game-canvas {
	border: 1px solid black;
}

.hunimal-font {
	font-family: "HunimalSans";
}

.pink {
	background-color: #fcc;
	cursor: pointer;
}

#numpad {
	border: 1px solid black;
}

#num-delete {
	display: inline-block;
	vertical-align: top;
}

#choices-div {
	display: inline-block;
	vertical-align: top;
}

#multchoice {
	border: 1px solid black;
}
